<footer id="footer" class="bg-light mt-5 fixed-bottom">
 <ul class="footer-nav-1">
  <li class="footer1-item">
   <a href="#" class="btn btn-outline-dark">News Center</a>
  </li>
  <li class="footer1-item">
   <a href="#" class="btn btn-outline-dark"><i class="fab fa-facebook-f"></i></a>
  </li>
  <li class="footer1-item">
   <a href="#" class="btn btn-outline-dark"><i class="fab fa-twitter"></i></a>
  </li>
 </ul>
 
 <ul class="footer-nav-2 ml-auto">
  <li class="footer2-item"><a href="#" class="footer-link disabled">Contact Us</a></li>
  <li class="footer2-item"><a href="/term" class="footer-link">Term of Use</a></li>
  <li class="footer2-item"><a href="/privacy" class="footer-link">Privacy & Cookies</a></li>
  <li class="footer2-item"><a href="#" class="footer-link border border-dark p-1">Top</a></li>
 </ul>
 
</footer>