
<section id="landing">

    <div class="landing-header">
 		<h1>Welcome to <span>BlogApp</span></h1>
		<a href="/blogs" class="btn-landing">Go To Index Page</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

</section>


    


