<% include ./partials/header %>

<header class="header-term text-dark py-5 mb-5 text-center">
 <h2>BlogApp Term of Use</h2>
 <p class="lead">Last Updated: April 13 2019</p>
</header>

<div class="container term-box">
 <div class="row">
  
  <div class="term-links">
   <a href="#" class="term-link">Acceptance of Terms</a>
   <a href="#" class="term-link">non-characteristic words etc.</a>
   <a href="#" class="term-link">always free from repetition</a>
   <a href="#" class="term-link">Contrary</a>
   <a href="#" class="term-link">sections 1.10.32</a>
   <a href="#" class="term-link">sections 1.10.35</a>
   <a href="#" class="term-link">This book is a treatise on the theory of ethics</a>
   <a href="#" class="term-link">Lorem Ipsum</a>
   <a href="#" class="term-link">passages of Lorem Ipsum</a>
   <a href="#" class="term-link">2000 years old</a>
   <a href="#" class="term-link">treatise on the theory of ethics</a>
  </div>
  
  <div class="accept m-5">
   <h1 class="display-3">Acceptance of Terms</h1>
   <p class="lead p-3">Contrary to popular belief, Lorem Ipsum is not simply random text.
   It has roots in a piece of classical Latin literature from 45 BC,
   making it over 2000 years old. Richard McClintock, a Latin professor at
   Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
   consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
   classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 
   1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil)
   by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, 
   very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor
   sit amet..", comes from a line in section 1.10.32.</p>
  </div>
  
  <div class="accept m-5">
   <h1 class="display-3">Description of Services</h1>
   <p class="lead p-3">Contrary to popular belief, Lorem Ipsum is not simply random text.
   It has roots in a piece of classical Latin literature from 45 BC,
   making it over 2000 years old. Richard McClintock, a Latin professor at
   Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
   consectetur.</p>
  </div>  
  
  <div class="accept m-5">
   <h1 class="display-3">Personal and Non-Commercial Use Limitation</h1>
   <p class="lead p-3">Contrary to popular belief, Lorem Ipsum is not simply random text.
   It has roots in a piece of classical Latin literature from 45 BC,
   making it over 2000 years old. Richard McClintock, a Latin professor at
   Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
   consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
   classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 
   1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil)
   by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, 
   very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor
   sit amet..", comes from a line in section 1.10.32.</p>
  </div> 

  <div class="accept m-5">
   <h1 class="display-3">Notice Specific to Software Available on this Websites</h1>
   <p class="lead p-3">Contrary to popular belief, Lorem Ipsum is not simply random text.
   It has roots in a piece of classical Latin literature from 45 BC,
   making it over 2000 years old. Richard McClintock.</p>
  </div>
  
 </div>
</div>

<% include ./partials/footer %>